ul {
  height: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6610F2;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
