main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  table {
    width: 80%;

    tr:hover {
      background-color: rgb(245, 245, 245);
    }
  }
}

.error-search {
  color: #f44336;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

